<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BoDi" version="1.5.0" targetFramework="net472" />
  <package id="Cucumber.CucumberExpressions" version="16.0.0" targetFramework="net472" />
  <package id="FluentAssertions" version="6.10.0" targetFramework="net472" />
  <package id="Gherkin" version="19.0.3" targetFramework="net472" />
  <package id="NUnit" version="3.13.1" targetFramework="net472" />
  <package id="Selenium.Support" version="4.8.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.8.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="109.0.5414.7400" targetFramework="net472" />
  <package id="SpecFlow" version="4.0.16-beta" targetFramework="net472" />
  <package id="SpecFlow.Internal.Json" version="1.0.8" targetFramework="net472" />
  <package id="SpecFlow.NUnit" version="4.0.16-beta" targetFramework="net472" />
  <package id="SpecFlow.Tools.MsBuild.Generation" version="4.0.16-beta" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>